# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT
 
 
if SHIELD_ANISE60BN_LEFT

config ZMK_KEYBOARD_NAME
	default "ANISE60BN-D"

config ZMK_SPLIT_ROLE_CENTRAL
	default y

endif

if SHIELD_ANISE60BN_LEFT || SHIELD_ANISE60BN_RIGHT

config ZMK_SPLIT
	default y

endif
